{% extends "AngeAngeBundle::layoutProf.html.twig" %}
{% block title %}{{ parent() }} - Home{% endblock %}

{% block body %}
<div class="breadcrumb">
	<a href="{{ path('AngeAngeBundle_home') }}">Accueil</a> -> Note
</div>

<h1>Liste des notes</h1>



{% endblock %}