{% extends "AngeAngeBundle::layoutAdmin.html.twig" %}
{% block title %}{{ parent() }} - Home{% endblock %}

{% block body %}
	Cours de la semaine (planning)
	
	<h2>Info (right)</h2>
{% endblock %}