{% extends "AngeAngeBundle::layoutEtu.html.twig" %}
{% block title %}{{ parent() }} - Home{% endblock %}

{% block right %}
		Compteur de vos absences : {{ nbAbsence }}<br/><hr/><br/>
		Absences de vos professeurs : <br/>
			{% for absenceProf in absencesProf%}
				 Prof : {{ absenceProf.idUtilisateur.username }}, pour le cours : {{ absenceProf.idCours.label }}
			{% endfor %}
	
{% endblock %}

{% block body %}
	<div class="breadcrumb">
		Accueil
	</div>
	
	Cours de la semaine (planning)
{% endblock %}