{% extends "AngeAngeBundle::layoutProf.html.twig" %}
{% block title %}{{ parent() }} - Home{% endblock %}

{% block body %}
	<div class="floatRight">
		<h2>Info (right)</h2>
		
	</div>
	
	Cours de la semaine (planning)
	
	
{% endblock %}