{% extends "AngeAngeBundle::layoutAdmin.html.twig" %}
{% block title %}{{ parent() }} - Eleves{% endblock %}

{% block body %}
<div class="breadcrumb">
	<a href="{{ path('AngeAngeBundle_home') }}">Accueil</a> -> Eleves
</div>

<h1>Liste des eleves</h1>

{% endblock %}