{% extends "AngeAngeBundle::layoutAdmin.html.twig" %}
{% block title %}{{ parent() }} - Utilisateurs{% endblock %}

{% block body %}
<div class="breadcrumb">
	<a href="{{ path('AngeAngeBundle_home') }}">Accueil</a> -> Utilisateurs
</div>

<h1>Liste des utilisateurs</h1>

{% endblock %}